<h3><%= "#{@stock.name}(#{@stock.code})" %></h3>
<% assessment = @stock.assessments.valid.first %>
<%
   common_unit = ''
   if @stock.stock_type == 3
       sdis = StockDataInfo.where(stock_id: @stock.id, source: '谷歌财经').order(:quarterly_date).select{|x|x.monetary_unit.include? 'Millions of'}
       common_unit = sdis.first.monetary_unit.gsub("Millions of", "M")
   end
%>
<table>
  <% year_arr = assessment.assessment_items.order(year: :desc).pluck(:year).uniq %>
  <tr>
    <td width="250px"></td><td width="100px"></td>
      <% year_arr.each do |year| %>
        <td width="100px" style="text-align: right"><%= year %></td>
      <% end %>
  </tr>
  <% AnalysisType.pluck(:category).uniq.each do |category| %>
        <tr>
          <td><b><%= category %></b></td><td></td>
          <% year_arr.size.times do %>
            <td></td>
          <% end %>
        </tr>
        <% AnalysisType.where(category: category).order(:sort_by).each do |at| %>
          <tr>
            <td <%= 'style=font-weight:bold;' if at.parent_id.blank? && at.tap == 1 && at.name != 'Ennterprise value' %>><%= ("&nbsp;"*at.tap*2).html_safe %><%= at.name.gsub('Average ', '') %></td>
            <td>
              <% if at.name == "FCF multiples" %>
                 <%= 'x' %>
              <% elsif at.name == "Cash rate for NOPLAT" || at.name == 'Premium (Discount)' %>
                 <%= '%' %>
              <% elsif at.name == 'Exchange rate' %>
                  <%=
                      case @stock.stock_type
                        when 1
                            ''
                        when 2
                            'HK$/RMB'
                        when 3
                          sdis = StockDataInfo.where(stock_id: @stock.id, source: '谷歌财经').order(:quarterly_date)
                          "US$/#{sdis.first.monetary_unit.gsub("Millions of", "")}"
                      end

                  %>
              <% elsif at.name == 'ADR to stock ratio' %>
                <%= 'Ratio' %>
              <% elsif at.name == 'Shares outstanding' %>
                <%= 'M' %>
              <% elsif at.name == 'Per share value' %>
                <%=
                    case @stock.stock_type
                      when 1
                        'RMB/share'
                      when 2
                        'RMB/share'
                      when 3
                        'US$/share'
                    end
                %>
              <% elsif at.name == 'Current stock price' %>
                  <%=
                      case @stock.stock_type
                        when 1
                          'RMB/share'
                        when 2
                          'HK$/share'
                        when 3
                          'US$/share'
                      end
                  %>
              <% else %>
                  <%
                    unit = case @stock.stock_type
                             when 1
                                'M RMB'
                             when 2
                                'M RMB'
                             when 3
                               common_unit
                           end
                  %>
                  <%= unit %>
              <% end %>
            </td>
            <% if at.with_year? %>
                <% year_arr.each do |year| %>
                    <% val = assessment.assessment_items.where(analysis_type_id: at.id, year: year).first.value %>
                    <td style="text-align: right">
                      <% if at.name == "Cash rate for NOPLAT" || at.name == 'Premium (Discount)' %>
                          <%= "#{val*100}%" %>
                      <% elsif at.name == 'Exchange rate' %>
                          <%= val %>
                      <% else %>
                          <%= val == 0.0 ? '-' : format("%0.1f",val).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>
                      <% end %>
                    </td>
                <% end %>
            <% else %>
                <% val = assessment.assessment_items.where(analysis_type_id: at.id).first.value %>
                <td style="text-align: right">
                  <% if at.name == "Cash rate for NOPLAT" || at.name == 'Premium (Discount)' %>
                      <%= "#{(val*100).round(1)}%" %>
                  <% elsif at.name == 'Exchange rate' %>
                      <%= val %>
                  <% else %>
                      <%= val == 0.0 ? '-' : format("%0.1f",val).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>
                  <% end %>
                </td>
                <%= ("<td></td>"*(year_arr.size-1)).html_safe %>
            <% end %>
          </tr>
          <% if at.name == 'FCF' %>
              <tr>
                <td>&nbsp;</td><td></td>
                <% year_arr.size.times do %>
                    <td></td>
                <% end %>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;<b><%= "#{year_arr.size}-year Average" %></b></td><td></td>
                <% year_arr.size.times do %>
                    <td></td>
                <% end %>
              </tr>
          <% end %>
          <% if at.calc_expression == 'calc_valuation_cash' || at.name == 'ADR to stock ratio' %>
              <tr>
                <td>&nbsp;</td><td></td>
                <% year_arr.size.times do %>
                    <td></td>
                <% end %>
              </tr>
          <% end %>
        <% end %>
        <tr>
            <td>&nbsp;</td><td></td>
            <% year_arr.size.times do %>
                <td></td>
            <% end %>
        </tr>
  <% end %>
</table>